<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v5.0" sku=".NETFramework,Version=v5.0"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework> 
  <connectionStrings>
    <add name="default connection" providerName="System.Data.SqlClient" connectionString="Server=.;Database=LibraryJuggleDB;Trusted_Connection=True;MultipleActiveResultSets=true;"/>
  </connectionStrings>
</configuration>