<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="default connection" providerName="System.Data.SqlClient" connectionString="Server=.;Database=LibraryJuggleDB;Trusted_Connection=True;MultipleActiveResultSets=true;"/>
  </connectionStrings>
</configuration>